<ion-app>

    <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
          <ion-menu-button>
          </ion-menu-button>
          </ion-buttons>
          <ion-title>DashBoard</ion-title>
        </ion-toolbar>
      </ion-header>

   
        <ion-content>

          <section text-center margin-bottom>
            <ion-icon name="person" class="pageprofile"></ion-icon>
            <h4 style="font-size:1.8em">Welcome, <br>
              Mr, Marc Doe
            </h4>
          </section>

          <ion-grid>
            <ion-row>
              <ion-col col-6>
                <ion-card text-center padding color="danger"> 
                  <ion-icon name="people" class="pageprofile"></ion-icon>
                  <h2>Pe</h2>
                </ion-card>
              </ion-col>
              <ion-col col-6>
                <ion-card text-center padding color="danger"> 
                  <ion-icon name="settings" class="pageprofile"></ion-icon>
                  <h2>Sett</h2>
                </ion-card>
              </ion-col> 
            </ion-row>
            <ion-row>
              <ion-col col-6>
                <ion-card text-center padding color="danger"> 
                  <ion-icon name="calendar" class="pageprofile"></ion-icon>
                  <h2>Calen</h2>
                </ion-card>
              </ion-col>
              <ion-col col-6>
                <ion-card text-center padding color="danger"> 
                  <ion-icon name="list" class="pageprofile"></ion-icon>
                  <h2>List</h2>
                </ion-card>
              </ion-col> 
            </ion-row>

          </ion-grid>
        </ion-content>

  </ion-app>